In [1]:
# Load Dependencies
import pandas as pd
from sqlalchemy import create_engine
from secret import username, password

# Load Cleaned and Transformed Data

In [2]:
# Load Cleaned and Transformed CSV files

file = "ETL_Project/Transformed CSVs/planets_exoplanets.csv"
exoplanets_df = pd.read_csv(file)
exoplanets_df

,planet_name,mass,radius,orbital_period_x,discovered_year,detection_type,star_name,star_distance,star_mass,star_radius,...,eccentricity,planet_jup_mass,pl_dens,planet_earth_mass,observatory_name,telescope_name,moons_n,galactic_longitude,galactic_latitude,stellar_gravity
0,11 Com b,NaN,NaN,326.03,2008.0,Radial Velocity,11 Com,110.6,2.7000,19.000,...,0.2310,19.40000,NaN,6165.6000,Xinglong Station,2.16 m Telescope,0.0,264.140892,78.280522,2.31
1,11 Oph b,21.0,NaN,730000.00,2007.0,Imaging,11 Oph,145.0,0.0162,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11 UMi b,NaN,NaN,516.22,2009.0,Radial Velocity,11 UMi,119.5,1.8000,24.080,...,0.0800,14.74000,NaN,4684.8142,Thueringer Landessternwarte Tautenburg,2.0 m Alfred Jensch Telescope,0.0,108.718982,41.044516,1.93
3,14 And b,NaN,NaN,185.84,2008.0,Radial Velocity,14 And,76.4,2.2000,11.000,...,0.0000,4.80000,NaN,1525.5000,Okayama Astrophysical Observatory,1.88 m Telescope,0.0,106.411558,-21.050610,2.63
4,14 Her b,NaN,NaN,1773.40,2002.0,Radial Velocity,14 Her,18.1,0.9000,0.708,...,0.3700,4.66000,NaN,1481.0878,W. M. Keck Observatory,10 m Keck I Telescope,0.0,69.170376,46.944999,4.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4871,psi 1 Dra B b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.4000,1.53000,NaN,486.2799,McDonald Observatory,2.7m Harlan J. Smith Telescope,0.0,102.977548,31.027753,4.20
4872,rho CrB b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0373,1.04490,NaN,332.1000,Fred Lawrence Whipple Observatory,1.5 m Tillinghast Reflector Telescope,0.0,53.488729,48.923598,4.12
4873,rho CrB c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0520,0.07866,NaN,25.0000,NaN,NaN,0.0,53.488729,48.923598,4.12
4874,tau Boo b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0110,4.32000,NaN,1373.0256,Roque de los Muchachos Observatory,3.58 m Telescopio Nazionale Galileo,0.0,358.936643,73.888976,4.50
4875,xi Aql b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0000,2.80000,NaN,890.0000,Okayama Astrophysical Observatory,1.88 m Telescope,0.0,47.812817,-9.854721,2.66

In [4]:
file = "ETL_Project/Transformed CSVs/List_of_observatories.csv"
observatories_df = pd.read_csv(file)
observatories_df

,observatory_name,year_established,obs_location
0,Štefánik's Observatory,1928.0,"Prague, Czech Republic"
1,ÇOMÜ Ulupınar Observatory,2002.0,"Çanakkale, Turkey"
2,Abastumani Astrophysical Observatory,1932.0,"Abastumani, Georgia"
3,Abu Reyhan-e Birooni Observatory,1976.0,"Shiraz University, Shiraz, Iran"
4,Acton Sky Portal Observatory,NaN,NaN
...,...,...,...
583,Yerkes Observatory,1897.0,"Williams Bay, Wisconsin, USA"
584,Yuba City Astronomical Observatory,2010.0,"Yuba City, California, USA"
585,Yunnan Astronomical Observatory,1957.0,"Kunming, Yunnan, China"
586,Zadko Observatory,2009.0,"Gingin, Australia"
587,Zimmerwald Observatory,1956.0,"Zimmerwald, Switzerland"

In [5]:
file = "ETL_Project/Transformed CSVs/list_of_telescopes.csv"
telescopes_df = pd.read_csv(file)
telescopes_df

,telescope_name,aperture_m,aperture_in,mirror_type,host_nationality,site,year_built
0,9.2 m Hobby-Eberly Telescope,NaN,NaN,NaN,NaN,NaN,NaN
1,A.A. Common Reflector,NaN,NaN,NaN,NaN,NaN,NaN
2,Crossley Reflector[99],0.914 m,36″,Single,US+UK,"Lick Observatory, California, USA",1896
3,Kuiper Airborne Obs.(KAO),0.914 m,36″,Single,USA,C-141 (mobile),1974–1995
4,Rosse 36-inch Telescope,0.914 m,36″,Metal,Great Britain,Birr Castle; Ireland,1826
...,...,...,...,...,...,...,...
194,6.5 m Magellan I Baade Telescope,NaN,NaN,NaN,NaN,NaN,NaN
195,6.5 m Magellan II Clay Telescope,NaN,NaN,NaN,NaN,NaN,NaN
196,64 m Parkes Radio Telescope,NaN,NaN,NaN,NaN,NaN,NaN
197,Large Binocular Telescope,NaN,NaN,NaN,NaN,NaN,NaN
198,Mamiya 645 80mm f/1.9,NaN,NaN,NaN,NaN,NaN,NaN

### Create database connection

In [6]:
connection_string = f'{username}:{password}@localhost:5432/exoplanet_db'
engine = create_engine(f'postgresql://{connection_string}')

In [27]:
# Confirm tables
engine.table_names()

['telescopes', 'observatories', 'planets']

### Load DataFrames into database

In [ ]:
observatories_df.to_sql(name='observatories', con=engine, if_exists='append', index=False)

In [ ]:
telescopes_df.to_sql(name='telescopes', con=engine, if_exists='append', index=False)

In [ ]:
exoplanets_df.to_sql(name='planets', con=engine, if_exists='append', index=False)